---
const personalImageAlt = "Ana Laura Rojas Saco";
---

<article
  class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row"
>
  <div
    class="[&>p]:mb-4 px-5 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >

 <p style="text-align: justify;">Ana Laura Rojas Saco | Abogada por la Universidad Central del Ecuador.</p>
 
 <p style="text-align: justify;">
 Abogada con experiencia en derecho corporativo, cobranzas y propiedad intelectual, con enfoque en patentes y asesoria a companias.
 </p>
 <p style="text-align: justify;">
 He participado en constitucion, disolucion y liquidacion de companias, redaccion de contratos y escritos judiciales, gestion de marcas y patentes, y procesos en derecho de familia y sucesiones.
 </p>
 <p style="text-align: justify;">
 Mi objetivo es brindar asesoria legal clara, efectiva y orientada a resultados, con acompanamiento cercano para personas y empresas.
</p>
  </div>

  <img
    width="200"
    height="200"
    src="/me.jpg"
    alt={personalImageAlt}
    class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20"
    style="object-position: 50% 50%"
  />
</article>
