---
const personalImageAlt = "Carlos Brayan";
---

<article
  class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row"
>
  <div
    class="[&>p]:mb-4 px-5 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >

 <p style="text-align: justify;">Carlos Brayan Rámila Chorens | Ingeniero en Ciencias Informáticas & Desarrollador Full-Stack 
 
 <p style="text-align: justify;">
 Soy un desarrollador de software apasionado por construir soluciones web innovadoras, escalables y orientadas al usuario. Como Ingeniero en Ciencias Informáticas graduado de la UCI y actual estudiante de un Máster en Inteligencia Artificial, combino bases técnicas sólidas con las últimas tendencias tecnológicas.
 </p>
 <p style="text-align: justify;">
 A lo largo de mi trayectoria, he evolucionado desde proyectos académicos hasta el desarrollo de software a nivel internacional , trabajando activamente con tecnologías como Python, Java, React y Vue.js. Me especializo en transformar problemas complejos en arquitecturas eficientes, aportando valor en cada línea de código.
 </p>
 <p style="text-align: justify;">
 Mi objetivo es seguir creciendo, aprendiendo y aportando innovación a la comunidad tecnológica. ¡Explora mis proyectos y no dudes en contactarme para colaborar en el futuro!
</p>
  </div>

  <img
    width="200"
    height="200"
    src="/me.jpg"
    alt={personalImageAlt}
    class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20"
    style="object-position: 50% 50%"
  />
</article>
