---
import { EXPERIENCIE } from "@/data/experiencie"
import ExperienceItem from "./ExperienceItem.astro"

---

<ol class="relative mt-16">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
